@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin:0;
    box-sizing: border-box;
    padding:0;
}

body{
    display: grid;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: white;
    font-family: 'Poppins';
    transform: translateY(-40px);
}

.content{
    justify-content: center;
    transform: translate(420px);
    display:block;
}

.content h1{
    transform: translate(10px, 55px);
    font-size: 2.3rem;
    font-weight: 200;
}

.content h2{
    transform: translate(10px, 75px);
    font-size: 2.3rem;
    font-weight: 600;
}

.content p{
    max-width:400px;
    margin: 0 auto;
    transform: translate(-430px, 100px);
    color:hsl(229, 6%, 66%);
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    transform: translateY(40px);
    
}


.grid h1{
    font-size:1.4rem;
    font-weight: 600;
}
 
.box1{
    grid-column: 2/1;
    grid-row:2/2;
    background-color: white;
    padding:20px;
    height:250px;
    width:400px;
    margin-right:30px;
    border-radius:10px;
    border-top: 4px solid hsl(180, 62%, 55%);
    box-shadow:rgb(165, 165, 165) 1px 2px 10px;
}

.box1 img{
    transform: translate(300px, 70px);
}


.box2 {
    grid-column: span 2; /* Make box2 span two columns */
    grid-column:2/3;
    background-color: white;
    padding:20px;
    height:250px;
    width:400px;
    transform: translateY(120px);
    border-radius:10px;
    border-top:4px solid hsl(0, 78%, 62%);
    box-shadow:rgb(165, 165, 165) 1px 2px 10px;
}

.box2 img{
    transform: translate(300px, 50px);
}


.box3 {
    grid-column: span 2; /* Make box3 span two columns */
    grid-column:2/-2;
    grid-row:4/-2;
    background-color: white;
    padding:20px;
    height:250px;
    width:400px;
    transform: translateY(-100px);
    border-radius:10px;
    border-top: 4px solid hsl(34, 97%, 64%);
    box-shadow:rgb(165, 165, 165) 1px 2px 10px;
}

.box3 img{
    transform: translate(300px, 70px);
}

.box4{
    grid-column: 3/-2;
    grid-row:2/3;
    background-color: white;
    padding:20px;
    height:250px;
    width:400px;
    margin-left:1px;
    border-radius:10px;
    border-top: 4px solid hsl(212, 86%, 64%);
    box-shadow:rgb(165, 165, 165) 1px 2px 10px;
}

.box4 img{
    transform: translate(300px, 50px);
}


.grid p{
    width:80%;
    color:hsl(229, 6%, 66%);
    font-size:0.9rem;
    transform: translateY(10px);
}

.grid img{
    width:50px;
    height:50px;
}

@media  screen and (max-width:1024px) {
    body{
        transform: translatex(550px );
    }

    .content{
        justify-content: center;
        transform: translate(420px);
        display:block;
    }
    
    .content h1{
        transform: translate(10px, 55px);
        font-size: 2.3rem;
        font-weight: 200;
    }
    
    .content h2{
        transform: translate(10px, 75px);
        font-size: 2.3rem;
        font-weight: 600;
    }
    
    .content p{
        max-width:400px;
        margin: 0 auto;
        transform: translate(-415px, 100px);
        color:hsl(229, 6%, 66%);
    }

    .box4{
        grid-column: 3/-2;
        grid-row:2/3;
        background-color: white;
        padding:20px;
        height:250px;
        width:400px;
        margin-left:30px;
        border-radius:10px;
        border-top: 4px solid hsl(212, 86%, 64%);
        box-shadow:rgb(165, 165, 165) 1px 2px 10px;
    }
    
}

